VITE_USE_MOCK_DATA=true
VITE_BINANCE_WS_URL=wss://stream.binance.com:9443/ws/btcusdt@trade
VITE_COINBASE_WS_URL=wss://ws-feed.exchange.coinbase.com
VITE_MEMPOOL_TIP_URL=https://mempool.space/api/blocks/tip/height
